################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentsCart.TestProject/StudentsCart.TestProject.csproj
/.vs/Agile/v16/.suo
/.vs/StudentsCartSolution
