################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentsCart.TestProject/obj/Debug/netcoreapp3.1/StudentsCart.TestProject.AssemblyInfo.cs
