<div style="color:black; font-size:16px; font-family:Verdana;">@DateTime.Now</div>
<body>
    <br><br><br><br>
    <p style="color:deeppink; text-align:left; font-family:georgia,garamond,serif;font-size:26px;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Welcome to the spectacular world of  Student Cart</strong></p>
    <p style="color:deeppink; text-align:left; font-family:georgia,garamond,serif;font-size:26px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Services  Running Successfully</strong></p>

    <h3 style="color:gainsboro; text-align:left; font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:26px;font-style:italic;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You are browsing version @TempData["data"]</h3>
</body>
}
